body {
    display: flex;
    justify-content: center;
}

.container {
    border: 5px solid black; /* add a border */
    background-color: red;
    padding: 16px;
}

.grid-divs {
    border: 2px solid black;
    background-color: white;
    padding: 16px;
    color: transparent;
    display: inline-block; /* using inline-block we can put one div below another, it also automatically goes onto the next line when container space ends */
}
