body {
    display: flex;
    justify-content: center;
}

.container {
    margin: 200px auto;
    line-height: 0; /* USE LINE HEIGHT PROPERTY FOR ELIMINATING SPACING BETWEEN BOXES YESSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
}

.grid-divs {
    border: 1px solid black;
    color: transparent;
    display: inline-block; /* using inline-block we can put one div below another, it also automatically goes onto the next line when container space ends */
    background: white;
}
